<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/inc/styles.css">
</head>
<body>
    <h1>Pokedex</h1>
    <div>
        <a href="/sukupolvi/1">I</a>
        <a href="/sukupolvi/2">II</a>
        <a href="/sukupolvi/3">III</a>
        <a href="/sukupolvi/4">IV</a>
        <a href="/sukupolvi/5">V</a>
        <a href="/sukupolvi/6">VI</a>
        <a href="/sukupolvi/7">VII</a>
        <a href="/sukupolvi/8">VIII</a>
        <a href="/sukupolvi/9">IX</a>
    </div>
</body>
</html>